body {
	margin: 0;
	text-align: center;
}

.d3-bubble-chart-wrapper{
	height:100vh;
	width:100vw;
	/* background-color:rgb(0,0,0); */
}

.d3-bubble-chart-title{
	color :red;
	height:48px;
	width:100%;
	padding-top:24px;
	font-size:24px;
	
}

.d3-bubble-chart-content-wrapper{
	width:100%;
	height:calc(100% - 72px);
	display:grid;
	grid-template-columns: 2fr 8fr 2fr;
}

.filterSelect{
	display:inline-block;
}

.filterLabel{
	color:red;
	display:inline-block;
	margin-right:10px;
	text-transform:capitalize;
}

.d3-bubble-chart-left-inner-wrapper{
	
	border:1px solid black;
	width:90%;
	border-radius:10px;
	padding: 5px;
	
	margin-left:10px;
}
